.container {
  display: flex;
  justify-content: space-between;
  height: 3.5rem;
  background-color: #1d344a;
  align-items: center;
}
.link {
  padding: 0 2rem;
  cursor: pointer;
  color: #0070f3;
  font-family: 'Lobster', cursive;
}

.link p {
  font-weight: bold;
  font-size: 2rem;
}

.ul {
  display: flex;
  color: #a1a8b0;
  margin-right: 2rem;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.ul li {
  padding: 0 1rem;
  cursor: pointer;
}

@media (max-width: 600px) {
  .link p {
    font-size: 1rem;
  }
}
